[submodule "external/lightning"]
	path = external/lightning
	url = https://github.com/ElementsProject/lightning.git
	ignore = all
	branch = master

[submodule "external/eclair"]
	path = external/eclair
	url = https://github.com/ACINQ/eclair.git
	ignore = all
	branch = master

[submodule "external/secp256k1"]
	path = external/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
	ignore = all
	branch = master

[submodule "external/libwally-core"]
	path = external/libwally-core
	url = https://github.com/ElementsProject/libwally-core.git
	ignore = all
	branch = master

[submodule "external/bitcoin-core"]
	path = external/bitcoin-core
	url = https://github.com/bitcoin/bitcoin.git
	ignore = all
	branch = master

[submodule "external/libbitcoin-system"]
	path = external/libbitcoin-system
	url = https://github.com/bitcoinfuzz/libbitcoin-system.git
	ignore = all
	branch = master
[submodule "external/multi_index"]
	path = external/multi_index
	url = https://github.com/boostorg/multi_index.git
	ignore = all
	branch = master
[submodule "external/tmi2"]
	path = external/tmi2
	url = https://github.com/theuni/tmi2.git
	ignore = all
	branch = main
[submodule "external/boost-mp11"]
	path = external/boost-mp11
	url = https://github.com/boostorg/mp11.git
	ignore = all
	branch = master
