[submodule "dependencies/btcd"]
	path = dependencies/btcd
	url = https://github.com/btcsuite/btcd
[submodule "dependencies/rust-bitcoin"]
	path = dependencies/rust-bitcoin
	url = https://github.com/rust-bitcoin/rust-bitcoin
[submodule "dependencies/rust-miniscript"]
	path = dependencies/rust-miniscript
	url = https://github.com/rust-bitcoin/rust-miniscript
